.navGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImg {
  height: 70px;
  margin-left: 20px;
}

.hamIcon {
  transition: transform 0.3s ease; /* Add smooth transition for transform */
}

.hamIcon:hover {
  border-radius: 7px;
  box-shadow: 0 0 0 1px grey;
  background-color: rgb(202, 199, 199);
  padding: 3px;
  cursor: pointer;
  transform: scale(1.05);
  margin: -3px;
}

.hamIcon:active {
  background-color: rgb(142, 140, 140);
}
