:root {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
  --circle-width: 35px;
  --circle-height: 18px;
  --circle-borRadius: 50%;
  --circle-marRight: 10px;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("../src/assets/fonts/Montserrat-Regular.ttf"), format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  --color-background: #fafafa;
  --color-foreground: #1f2023;
}
body,
html {
  overflow-y: hidden; /* This will prevent scrolling for the entire app */
  height: 100%; /* Ensure the height takes the full viewport height */
}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  --visible: hidden;
}

.app {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  /* width: 90%; */
  padding: 20px;
  border-bottom: 1px solid gray;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

li {
  list-style-type: none;
}

.sidecontainer {
  position: fixed;
  top: 101px;
  left: 0;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
  border-right: var(--color-foreground) 1px solid;
  margin: 0;
  padding: 8px;
  height: 100vh;
  background-color: var(--color-background);
}

.sidecontainer ul li span {
  color: var(--color-foreground);
}

.react-toggle-track-check {
  height: 2px;
  left: 0;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6d6f6;
  --toggle-bg: #283452;
  --toggle-fg: #1d53dc;
}

.slide-right {
  -webkit-animation: slide-right 5s ease-in forwards;
  animation: slide-right 5s ease-in forwards;
}

.slide-left {
  -webkit-animation: slide-left 1s both;
  animation: slide-left 1s both;
}

.socialLinks ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.socialLinks li:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.main-section {
  z-index: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 80vh;
  background-color: var(--color-background);
  overflow-y: auto;
}

.content-container {
  top: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 800px;
  display: flex;
  min-height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 13px;
  background-color: #002240;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.content-container h3 {
  color: yellow;
}

code {
  font-size: 24px;
}

article {
  margin-top: 25px;
}

.sidebar-open .content-container {
  margin-left: 200px;
}

.main-dots {
  display: flex;
  flex-direction: row;
  width: 80px;
}

.col-1 {
  width: var(--circle-width);
  height: var(--circle-height);
  border-radius: var(--circle-borRadius);
  background-color: yellow;
  margin-right: var(--circle-marRight);
}
.col-2 {
  width: var(--circle-width);
  height: var(--circle-height);
  border-radius: var(--circle-borRadius);
  background-color: orange;
  margin-right: var(--circle-marRight);
}
.col-3 {
  width: var(--circle-width);
  height: var(--circle-height);
  border-radius: var(--circle-borRadius);
  background-color: blue;
  margin-right: var(--circle-marRight);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
  }
}
