:root {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
  /* --primary-text-color: black; */
  /* --secondary-text-color: #ffffff;
  --toggle-bg: rgb(249, 249, 111);
  --toggle-fg: rgb(148, 148, 4); */
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("../src/assets/fonts/Montserrat-Regular.ttf"), format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  --color-background: #fafafa;
  --color-foreground: #1f2023;
}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  --visible: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  /* width: 90%; */
  padding: 20px;
  border-bottom: 1px solid gray;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

li {
  list-style-type: none;
}

.sidecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
  border-right: black 1px solid;
  margin: 0;
  padding: 8px;
  height: 800px;
  background-color: var(--color-background);
}

.sidecontainer ul li span {
  color: var(--color-foreground);
}

.react-toggle-track-check {
  height: 2px;
  left: 0;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6d6f6;
  --toggle-bg: #283452;
  --toggle-fg: #1d53dc;
}

.slide-right {
  -webkit-animation: slide-right 5s ease-in forwards;
  animation: slide-right 5s ease-in forwards;
}

.slide-left {
  -webkit-animation: slide-left 1s both;
  animation: slide-left 1s both;
}

.socialLinks ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.socialLinks li:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}
/* @keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
} */

@media (prefers-color-scheme: dark) {
  body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
  }
}
